#cc2 {
  height: 600px;
  width: 600px;
  border: 1px solid red;
  position: relative;
}
#cc3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid green;
  height: 200px;
  width: 200px;
}
#cc3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid violet;
  height: 200px;
  width: 200px;
}

#container > .box {
  height: 10px;
  width: 10px;
  background-color: red;
}

#container .box {
  height: 10px;
  width: 10px;
  background-color: red;
}

.playground {
  background-color: blueviolet;
  padding: 16px;
  text-align: center;
}

.wrapper {
  margin-top: 16px;
  display: flex;
  justify-content: space-around;
}
