html {
  width: 100%;
  background: whitesmoke;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  max-width: 500px;
  text-align: justify;
  text-align-last: center;
}

header h1 {
  margin-bottom: 0.5rem;
}

header p {
  margin-top: 0.5rem;
  margin-bottom: 20px;
}

header a {
  text-decoration: none;
}

.table {
  margin-bottom: 20px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.bb {
  border-bottom: 2px solid black;
}

.br {
  border-right: 2px solid black;
}

th,
td {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  font-size: 1.125rem;
}

.controls {
  font-size: 1.25rem;
}

button {
  font-size: 1.125rem;
  padding: 5px 15px;
}

.btn-activate {
  color: white;
  background-color: forestgreen;
  border: 2px inset darkolivegreen;
}

.hidden {
  display: none;
}

footer {
  position: fixed;
  bottom: 5px;
  right: 5px;
}

footer a {
  color: darkgray;
  text-decoration: none;
}
